.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(7, 26, 53);
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 200px);
}

.profileCard {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(9, 36, 109);
  padding: 70px 25px;
}

.userImage {
  width: 150px;
  margin-bottom: 30px;
}
