.positions {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  position: absolute;
  top: 10px;
  right: 40px;
  word-spacing: 30px;
  font-size: 25px;
  list-style-type: none;
  color: aliceblue;
}

NavBar {
  margin: 0px !important;
  height: 100px;
}

.bgColor {
  background-color: #4481eb;
  height: 80px;
  padding: 10px;
}

Nav {
  list-style-type: none;
}

NavItem {
  color: aliceblue;
  list-style-type: none;
  margin: 5px;
}

a {
  color: white;
}

NavbarBrand {
  margin-left: 20px;
  color: white;
}
h1 {
  margin-left: 10px;
}

#link {
  color: white;
}

.App-logo {
  height: 07vmin;
  pointer-events: none;
  border-radius: 50%;
}
.App-logo-profile {
  border-radius: 20px;
}
