.positions {
  position: absolute;
  right: 40px;
  word-spacing: 30px;
  font-size: 25px;
  color: aliceblue;
}

NavBar {
  margin: 0px !important;
}

.bgColor {
  background-color: #4481eb;
}

NavItem {
  color: aliceblue;
}

a {
  color: white;
}

NavbarBrand {
  color: white;
}

#link {
  color: white;
}

.App-logo {
  height: 06vmin;
  pointer-events: none;
}
.App-logo-profile {
  border-radius: 20px;
}
